<div class='title_box'>
  <div class='title_text'>
    <h2>All</h2>
    <h1>Groups<h1>
  </div>
  <div class='title_mark'>
    <h4>:</h4>
  </div>
  <%= render 'menu' %><br />
  <ul>
  <% @groups.each do |group| %>
  <li><%= link_to group.name, group_path(group) %></li>
  <% end %>
  </ul>
</div>
