<div class='title_box'>
  <div class='title_text'>
    <h2>New</h2>
    <h1>Group<h1>
  </div>
  <div class='title_mark'>
    <h4>!</h4>
  </div>
  <%= render 'menu' %><br />
  <%= render 'form' %>
</div>
