<div class='title_box'>
  <div class='title_text'>
    <h2>Look it's</h2>
    <h1><%= @user.name %><h1>
  </div>
  <div class='title_mark'>
    <h4>!</h4>
  </div>
  <%= render 'menu' %>
  <br />
  <%= link_to "#{@user.name}'s Groups", users_groups_path(@user) %>
</div>
